<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crazecoder.flutter.pgyer">

    <!-- 必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission
            android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取网络信息权限-->

    <!-- 用户手机设置中允许未知来源安装包安装状态为关；-->
    <!-- Android8.0 以后，如果要安装 apk 需要额外添加权限：-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
<!--        <meta-data-->
<!--                android:name="PGYER_API_KEY"-->
<!--                android:value="63e7826867771b618a84506bc9eefb2e"></meta-data>-->
<!--        <meta-data-->
<!--                android:name="PGYER_FRONTJS_KEY"-->
<!--                android:value="44f5a0de2ec979b186c13723e1c3eb6d"></meta-data>-->
        <!--添加新版本检测-->
        <meta-data
                android:name="PGYER_FEATURE_CHECK_UNPDATE"
                android:value="true"></meta-data>

        <!-- 是否支持热更新 -->
        <meta-data
                android:name="PGYER_HOT_UPDATE"
                android:value="true" />
    </application>
</manifest>
